/*** Print Styling ***/
@media print {
  .App {
    font-size: 0.65em;
    /* forces webpage to print colored boxes */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  /* don't print navigation */
  .header-options, .expand, .sticky-top, .navbar {
    display: none !important;
  }

  #flowchart {
    margin: 0;
  }

  .flow-desc {
    overflow: hidden;
  }

  .yearcol {
    max-width: 25%;
  }

  .pre-reqs {
    outline: none !important;
    border: 1px solid black;
  }

  .popover {
    display: none;
  }
}

/*https://stackoverflow.com/questions/39356258/force-landscape-orientation-in-css*/
/* forces webpage to print in landscape mode */
@page {
  size: auto landscape;
}

/*** App & Pop-up Styling ***/
body {
  overflow-y: scroll;
}

.App {
  text-align: center;
}

.alert {
  position: fixed;
  z-index: 10000;
  width: 90vw;
  top: 5vh;
  left: 5vw;
  margin: auto;
}

#className {
  text-transform: uppercase;
}

/*** Navbar styling ***/
.navbar-brand {
  margin-left: 5vw;
}

.navbar-nav {
  position: absolute;
  right: 0;
  margin: 0 1vw;
}

.nav-link {
  margin: 0 1vw;
}

.active {
  height: 100%;
  border-bottom: 2px solid white;
}

#upload-button {
  margin-left: 10px;
}

#save-button {
  margin-left: auto;
  margin-right: 10px;
}

#print-button {
  margin-left: auto;
  margin-right: 10px;
}

.dropzone {
  color: white;
  width: 75vw;
  margin-left: 90px;
  margin-right: 90px;
  border: solid 1px;
  border-color: gray;
  border-style: dashed;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

/* hiding the text when a file is uploaded through the upload button */
input[type="file"] {
  display: None;
}

/*** Expand & Warning Styling ***/
.header-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1vh auto;
}

.header-options .spacer {
  flex-grow: 1;
}

.custom-class-button {
  text-align: right;
  padding-right: 2em;
}

.expand {
  margin-top: 10px;
  margin-right: 3vw;
  text-align: right;
}

.credit-count {
  text-align: left;
  margin-left: 15px;
}

.flow-warn {
  padding-top: 1vh;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 0.8em;
  font-weight: bold;
}

/*** Flowchart styling ***/
#flowchart {
  margin: 1vh auto;
  width: 98%;
  padding-bottom: 3.5rem;
}

.yearcol {
  padding: 0 15px;
}

.yearcol>.container {
  padding: 0;
}

.year-header {
  font-size: 1.2em;
  font-weight: 500;
}

.sem-header {
  font-size: 1.1em;
  font-weight: 500;
}

.sem-credits {
  font-size: 0.8em;
}

.sem-classes {
  border: 1px solid black;
}

/*** Flowchart box styling ***/
.flow-box {
  width: 100%;
  min-height: 4em;
  border: 1px solid black;
  margin-bottom: 3px;
  padding: 3px;
}

.flow-desc {
  display: none;
}

/* To reference for hovering containers based on different conditions: 
https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
/* When user hovers over the class they can see a description of the class */
.flow-box:hover .flow-desc {
  display: block;
}

.flow-id {
  font-weight: bold;
}

.flow-restriction {
  /*adding variation to restriction info to be more distiguishable*/
  font-weight: bold;
}

.flow-notes {
  margin-top: 10px;
  font-weight: 600;
}

.flow-header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;
}

.flow-icon {
  background-size: 1.2em;
  background-repeat: no-repeat;
  width: 1.2em;
  height: 1.2em;
}

.warn-class .flow-icon {
  background-image: url("../exclamationmark.svg");
}

.taken-class .flow-icon {
  background-image: url("../check.svg");
}

.taken-class .flow-id {
  text-decoration: line-through solid 0.15em;
}

.planned-class .flow-icon {
  background-image: url("../clock.svg");
}

.pre-reqs {
  outline: red solid 3px;
  outline-offset: -3px;
}

.popover-warning {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}

.popover-fulfills {
  text-decoration: underline;
  font-weight: bold;
}


/*** Legend Styling ***/
.flow-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 3vh;
}

.flow-box-legend {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid black;
}

/*** Edit View Styling ***/
.table {
  width: 98%;
}

.listview-table {
  border: solid 1px black;
  margin: 1vh 1vw 12vh 1vw;
}

.table th {
  border: solid 2px black;
}

.table .alert-td {
  border: solid 2px black;
  text-align: center;
  font-size: 0.95em;
  background: rgb(197, 9, 9);
  color: white;
  font-weight: bold;
}
.heading-td {
  border: solid 2px black;
  text-align: center;
  font-size: 1em;
  color: black;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.1s all linear;
}

.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: 0.1s all linear;
}

.table .heading-courses-td {
  border: solid 2px black;
  text-align: left;
  font-weight: bold;
}

.table .heading-credits-td {
  border: solid 2px black;
  text-align: center;
  font-weight: bold;
}

.table .heading-notes-td {
  border: solid 2px black;
  text-align: left;
  font-weight: bold;
}

td {
  border: solid 2px black;
}

.courses {
  width: 55vw;
  text-align: left;
  padding: 0.2em;
}

.credits {
  width: 7.5vw;
  text-align: center;
  padding: 0.2em;
}

.notes {
  width: 37.5vw;
  text-align: left;
  padding: 0.2em;
}

thead {
  background-color: lightgray;
}

/*** Add Custom Class Modal Styling ***/
.custom-class-form > label {
  margin-top: 10px;
}

.taken-label {
  position: relative;
  top: 5px;
}

.class-checkbox {
  display: inline;
}

.class-checkbox>.input-group-text {
  display: inline;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.custom-class-form .custom-toggle-buttons {
  margin-top: 10px;
}

/*** Status Button Styling ***/
.custom-toggle-buttons {
  margin-left: 10px;
  margin-right: 10px;
}